$primary-dark-color: #8699df
$secondary-dark-color: #8699df
$primary-light-color: #8699df
$secondary-light-color: #8699df
$bg-color: #eeeeee
$bg-color-dark: #2C2F33
$default: #3897f0
$success: #00b33c
$danger: #cc0000
