#login-view-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5000; }

#close-login {
  position: fixed;
  top: 15px;
  right: 35px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  z-index: 5001; }

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.logo {
  display: inline;
  color: #8699df;
  font-weight: bold;
  font-family: "Billabong"; }

.tooltip {
  margin-right: -170px; }

.img-fluid {
  width: 100%; }

.modal {
  background-color: rgba(0, 0, 0, 0.5); }

#show-chat-btn {
  display: none; }

#channel-description {
  margin: 15px; }

#search-categories-tabs {
  margin-top: 10px; }

.page-title {
  color: #8699df;
  text-transform: capitalize; }

.inline {
  position: relative; }

.inline .inline-container {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 35px 0px;
  width: 100%;
  max-width: 100%; }

.inline button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
  background-color: #8699df;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.inline button:hover {
  width: 55px;
  height: 55px;
  font-size: 20px; }

.inline button:focus {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8); }

.inline button.left-scroll {
  left: -12px; }

.inline button.right-scroll {
  right: -12px; }

.inline .card {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.page-title span {
  color: #000;
  font-size: 20px; }

.page-title.settings {
  text-align: left;
  margin: 15px; }

.app-version {
  padding: 10px 10px 20px 10px;
  margin: 0;
  margin-top: 20px;
  color: #8699df;
  font-size: 17px;
  cursor: default;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 60px; }

.settings-social-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0; }

.settings-social-footer .social-icon {
  font-size: 25px;
  color: #72767d;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.settings-social-footer .social-icon.twitter:hover {
  color: #1da1f2; }

.settings-social-footer .social-icon.github:hover {
  color: #6e5494; }

.settings-social-footer .social-icon.patreon:hover {
  color: #f96854; }

.btn.load-more {
  width: 100%;
  margin: 30px auto;
  background-color: #8699df;
  color: #fff;
  padding: 10px; }

.btn.load-more:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8); }

.logo div {
  display: inline;
  margin-left: 5px;
  padding: 5px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px #8699df;
          box-shadow: 3px 3px #8699df; }

.welcome-start {
  text-align: center;
  position: relative;
  margin: 359px auto; }

.welcome-start .logo {
  display: none;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  font-size: 90px;
  text-align: center; }

#btns-intro {
  display: none; }

.welcome-start .btn {
  width: 200px;
  height: 50px;
  margin: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold; }

.welcome-start .btn .icon {
  display: none;
  font-size: 20px; }

.welcome-start .btn:hover {
  -webkit-box-shadow: 0 2px 10px 0 black;
          box-shadow: 0 2px 10px 0 black; }

.welcome-start .btn:hover .icon {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #fff; }

.welcome-start .btn:hover span {
  display: none; }

.welcome-start .btn.start:hover {
  background-color: #00b33c; }

.welcome-start .btn.twitch-log-in:hover {
  background-color: #8699df; }

.welcome-start .btn.twitch-log-in .icon {
  font-size: 23px; }

.welcome-form {
  display: none;
  width: 480px;
  height: auto;
  padding: 30px 30px 10px 30px;
  position: relative;
  margin: 159px auto;
  background-color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8); }

.welcome-form .welcome-text {
  color: #8699df;
  text-align: center;
  font-size: 24px; }

.welcome-form .logo {
  color: #3897f0;
  font-size: 40px;
  margin-left: 5px; }

.welcome-form .welcome-text small {
  color: #6c757d;
  font-size: 16px; }

.welcome-form label {
  color: #8699df;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 35px; }

.welcome-form input {
  margin-bottom: 35px; }

.welcome-form .btn {
  float: right;
  text-align: center;
  padding: 5px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 2px solid #8699df;
  background-color: transparent; }

.welcome-form .btn:disabled {
  background-color: #8699df; }

.welcome-form .btn.submit {
  width: 25%;
  margin-top: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 15px;
  border-color: #00b33c;
  color: #00b33c; }

.welcome-form .btn.cancel {
  margin: 15px 10px 0px 0px;
  width: 25%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 15px;
  border-color: #cc0000;
  color: #cc0000; }

.welcome-form .btn.submit:hover {
  background-color: #00b33c;
  border-color: #00b33c;
  color: #fff; }

.welcome-form .btn.submit:focus {
  background-color: #00b33c;
  border-color: #00b33c;
  color: #fff; }

.welcome-form .btn.cancel:hover {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #fff; }

.welcome-form .btn.cancel:focus {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #fff; }

.welcome-form p {
  text-align: center;
  font-size: 15px;
  margin: 50px 0px 25px 0px; }

.welcome-form .forgot-link {
  font-size: 12px;
  color: #8699df; }

#wrapper section {
  display: none; }

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.container-fluid {
  position: relative;
  overflow-y: hidden;
  left: 50px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 10px; }

.carousel {
  width: 100%;
  height: 600px;
  margin-left: -20px; }

.carousel-inner {
  width: 100%;
  height: 600px; }

.carousel-item .img-shadow {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 133px 300px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 133px 300px rgba(0, 0, 0, 0.7); }

.carousel-item img {
  position: relative;
  width: 100%;
  height: 600px;
  -webkit-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1; }

.carousel-item.active img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5); }

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0; }

#loaded {
  display: none; }

#videos {
  display: none; }

#clips {
  display: none; }

.wrapper {
  height: auto;
  min-height: 100%;
  overflow: hidden; }

.side-menu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  overflow-y: hidden;
  background-color: #fff; }

.side-menu .logo {
  display: block;
  margin: 30px 0 30px 0;
  text-align: center; }

.menu ul {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px; }

.menu ul li {
  height: 50px;
  margin: 10px 0; }

.menu ul li a {
  font-size: 16px;
  font-weight: 800;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #333; }

.menu ul li a .avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  border: 3px solid #fff; }

.menu ul li a .avatar:hover {
  border: 3px solid #8699df; }

.menu ul li a .menu-icon {
  position: relative;
  top: 10px; }

.menu ul li a:hover {
  background: none;
  color: #8699df;
  text-decoration: none; }

.menu ul li a.active {
  border-left: 3px solid #8699df;
  background-color: none;
  color: #8699df; }

.menu .hide-btn {
  width: 50px;
  height: 50px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: none;
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 5000;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

.menu .hide-btn:hover {
  color: #8699df; }

.menu .hide-btn.rotate {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.container-block {
  position: relative;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #8699df;
  margin: 10px auto;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.container-block.stream-options {
  text-align: left; }

.container-block.stream-options button {
  margin: 15px 0px 15px 15px;
  background-color: transparent;
  color: #000;
  border: 1px solid #8699df; }

.container-block.stream-options button:hover {
  background-color: #8699df;
  color: #fff;
  opacity: 1; }

.container-block.settings {
  text-align: left;
  padding: 20px 40px; }

.profile-banner {
  height: 450px;
  width: 100%;
  max-width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.profile-logo {
  width: 50px;
  height: 50px; }

.profile-logo.channel-header {
  position: relative;
  bottom: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.verified-icon {
  position: relative;
  background: url("../src/img/verified.png");
  background-repeat: no-repeat;
  -webkit-background-size: 20px 20px;
          background-size: 20px;
  background-position: 0% 45%; }

@-webkit-keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.container-block.channel-top-header {
  margin-bottom: 25px;
  margin-top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 16px 26px -11px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 16px 26px -11px rgba(0, 0, 0, 0.65);
  padding: 5px 20px;
  height: 70px;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.container-block.channel-top-header.fixed {
  position: fixed;
  z-index: 3000;
  padding: 5px 50px 5px 20px;
  top: 0;
  -webkit-animation: smoothScroll 0.5s forwards;
          animation: smoothScroll 0.5s forwards; }

.container-block.channel-top-header .btns-group {
  float: right;
  margin-top: -60px;
  margin-right: 10px; }

.container-block.channel-top-header .btns-container.open {
  display: block !important;
  position: absolute;
  top: 55px;
  width: 100%;
  height: auto;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.container-block.channel-top-header .btn.container-open {
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  margin: 5px !important; }

.container-block.channel-top-header .btn {
  background-color: #fff;
  color: #8699df;
  border: 1px solid #8699df; }

.container-block.channel-top-header .btn.subscribe {
  background: -webkit-gradient(linear, left top, right top, color-stop(52%, #8699df), to(#F7971E));
  background: -webkit-linear-gradient(left, #8699df 52%, #F7971E);
  background: -o-linear-gradient(left, #8699df 52%, #F7971E);
  background: linear-gradient(to right, #8699df 52%, #F7971E);
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-background-size: 400% 400%;
          background-size: 400% 400%;
  -webkit-animation: SubscribeGradient 5s ease infinite;
          animation: SubscribeGradient 5s ease infinite; }

@-webkit-keyframes SubscribeGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes SubscribeGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.container-block.channel-top-header .btn.subscribe:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  margin-left: 5px; }

.container-block.channel-top-header .btn.subscribe.true {
  background: -webkit-gradient(linear, left top, right top, from(#F7971E), to(#FFD200));
  background: -webkit-linear-gradient(left, #F7971E, #FFD200);
  background: -o-linear-gradient(left, #F7971E, #FFD200);
  background: linear-gradient(to right, #F7971E, #FFD200);
  border: none; }

.container-block.channel-top-header .btn.following {
  margin-top: 10px;
  margin-right: 10px; }

.container-block.channel-top-header .btn.following:hover {
  background: #00b33c;
  border: 1px solid #00b33c;
  color: #ffffff; }

.container-block.channel-top-header .btn.following.true {
  color: #00b33c;
  border: 1px solid #00b33c; }

.container-block.channel-top-header .btn.following.true:hover {
  background-color: #cc0000;
  border: 1px solid #cc0000;
  color: #fff; }

.container-block.channel-top-header .btn.subscribe {
  margin-top: 10px; }

.container-block .channel-top-nav {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  overflow: hidden;
  list-style-type: none; }

.container-block .channel-top-nav li {
  display: table-cell;
  margin: 0;
  padding: 12px 15px;
  vertical-align: middle;
  color: #333;
  cursor: pointer; }

.container-block .channel-top-nav li.short-info {
  border-right: 0;
  padding: 0 10px; }

.container-block .channel-top-nav li.short-info span {
  margin-left: 10px; }

.container-block .channel-top-nav li.short-info span:hover {
  color: #8699df; }

.container-block .channel-top-nav li.nav-option {
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 3px solid transparent; }

.container-block .channel-top-nav li.nav-option:hover {
  border-bottom: 4px solid #8699df; }

.container-block .channel-top-nav li.nav-option.active {
  border-bottom: 4px solid #8699df; }

.container-block .channel-top-nav li.nav-option span {
  color: #666;
  margin-left: 5px; }

.container-block .channel-top-nav li a {
  text-decoration: none; }

.container-block .channel-top-nav li a.channelName {
  margin-left: 10px;
  color: #000;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

.container-block .channel-top-nav li a.channelName:hover {
  color: #8699df; }

.container-block.settings .username {
  position: relative;
  top: 30px;
  margin-bottom: 80px; }

.card {
  cursor: pointer;
  max-height: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  margin-top: 30px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 9px 30px rgba(114, 137, 218, 0.2);
          box-shadow: 0 9px 30px rgba(114, 137, 218, 0.2); }

.card-columns.games {
  -webkit-column-count: 5;
     -moz-column-count: 5;
          column-count: 5; }

.card.description {
  display: inline-block;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default; }

.card.description a {
  cursor: pointer;
  color: #8699df; }

.card.description:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none; }

.card.description .htmlDescription h1 {
  font-size: 20px; }

.card.description .htmlDescription p {
  font-size: 15px; }

.card:hover {
  -webkit-box-shadow: 0 9px 30px rgba(100, 65, 164, 0.3);
          box-shadow: 0 9px 30px rgba(100, 65, 164, 0.3);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.card .card-title {
  width: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.card .card-text {
  width: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.card.game .card-title {
  text-align: center; }

.card.game .card-img-top {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  height: 266px; }

.card.game .card-text {
  text-align: center; }

.card.stream-preview.video .card-body .card-title {
  margin-top: -5px; }

.card.stream-preview .card-body .card-title {
  margin-top: 25px;
  margin-bottom: 0; }

.card.stream-preview .card-img-top {
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  height: 180px; }

.card.stream-preview .card-image-container {
  position: relative; }

.card.stream-preview .card-image-container .card-img-overlay .card-title {
  color: #fff;
  text-transform: capitalize; }

.card.stream-preview .card-image-container .card-img-overlay .card-title .stream-preview-icon {
  font-size: 25px; }

.card.stream-preview .card-image-container .card-img-overlay .card-text {
  width: 100%;
  text-align: right;
  position: absolute;
  right: 15px;
  bottom: 0;
  color: #fff; }

.card.stream-preview .card-image-container .card-img-overlay .card-text.date {
  bottom: -10px;
  left: 10px;
  text-align: left; }

.card.stream-preview .card-image-container .card-img-overlay .card-text.duration {
  top: 10px;
  left: 10px;
  text-align: left; }

.card.stream-preview .card-image-container .card-img-overlay .card-avatar {
  position: absolute;
  left: 15px;
  bottom: -25px;
  width: 50px;
  height: 50px; }

.card.channel-preview .card-img-top {
  height: 150px;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.card.channel-preview .card-img-top.fallback {
  background-color: #8699df; }

.card.channel-preview .card-img-overlay {
  position: absolute;
  top: 30%;
  left: 0%;
  -webkit-transform: translate(0%, -30%);
      -ms-transform: translate(0%, -30%);
          transform: translate(0%, -30%); }

.card.channel-preview .card-img-overlay .card-avatar {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.card.channel-preview .card-img-overlay h6 {
  text-align: center;
  margin-top: 5px;
  color: #fff; }

.card.channel-preview .card-img-overlay p {
  font-size: 12px;
  color: #fff;
  width: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  text-align: center; }

.card.game .img-container {
  position: relative; }

.card.game .img-container .img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px -41px 38px -8px white;
          box-shadow: inset 0px -41px 38px -8px white; }

.account-settings-form {
  width: 70%;
  margin: 0 auto;
  padding: 0px 50px 50px 50px; }

.account-settings-form label {
  float: left; }

.account-settings-form textarea {
  min-height: 72px;
  height: 72px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.avatar-upload {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-align: center;
  color: #fff;
  font-size: 30px; }

.avatar-upload .profile-avatar.account-settings {
  width: 100px;
  height: 100px;
  border: none;
  margin: 0;
  padding: 0; }

.avatar-upload .upload-btn {
  opacity: 0;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.avatar-upload .upload-btn .upload-icon {
  margin-top: 30px; }

.avatar-upload:hover .upload-btn {
  opacity: 1; }

.settings-nav {
  padding: 10px 20px; }

.nav-pills .nav-link {
  cursor: pointer;
  text-align: left; }

.nav-pills .nav-link {
  margin: 5px;
  color: #8699df;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

.nav-pills .nav-link:hover {
  background: rgba(242, 242, 242, 0.8); }

.nav-pills .nav-link.active {
  color: #fff;
  background-color: #3897f0; }

.nav-pills .nav-link.logout {
  background: none;
  border: none;
  color: #cc0000; }

.nav-pills .nav-link.logout:hover {
  background: rgba(204, 0, 0, 0.3); }

#player-container {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: relative;
  z-index: 15; }

#player-container .container-block.embed-responsive {
  background-color: transparent; }

#chat-container {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }

.jumbotron.msg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #8699df; }

.jumbotron.msg .icon {
  font-size: 55px; }

.jumbotron.msg p {
  margin-top: 25px; }

.form-group.form-check.settings {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc; }

.container-block p {
  color: #333; }

.form-group.form-check.settings.language-picker {
  text-align: left;
  cursor: pointer; }

.form-group.form-check.settings.active {
  background-color: #8699df; }

.form-group.form-check.settings.active label {
  color: #fff; }

.form-group.form-check.settings .form-check-input {
  position: relative;
  top: 5px;
  margin: 0px 10px 0 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  cursor: pointer; }

.form-group.form-check.settings label {
  color: #000; }

.form-group.form-check.settings label.switch {
  display: inherit; }

.nav-tabs {
  border-bottom: 1px solid #8699df; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #8699df;
  border-color: #8699df;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  color: #fff; }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border-color: #8699df;
  -webkit-border-radius: 0px;
          border-radius: 0px; }

.nav-tabs .nav-link {
  color: #000; }

.stream-search-btn {
  position: fixed;
  top: 15px;
  right: 30px;
  background-color: #8699df;
  color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 10px 13px;
  text-align: center;
  cursor: pointer;
  z-index: 1005;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25); }
  .stream-search-btn.active {
    right: 280px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.stream-search-btn .search-icon.hide {
  display: none; }

.stream-search-btn .close-icon {
  display: none; }

.stream-search-btn .close-icon.active {
  display: block; }

.stream-search-btn:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8); }

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100vh;
  z-index: 1002;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: scroll; }
  #sidebar.active {
    right: -10px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8); }

#sidebar .sidebar-header {
  padding: 20px 20px 0px 20px; }

.channel-card {
  padding: 0;
  margin: 10px;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 9px 30px rgba(114, 137, 218, 0.2);
          box-shadow: 0 9px 30px rgba(114, 137, 218, 0.2); }

.channel-card.main {
  margin: 10px 0px;
  -webkit-border-radius: 15px;
          border-radius: 15px; }

.channel-card.main .bg-img {
  height: 105px; }

.channel-card.main .bg-img img {
  height: 105px; }

.channel-card.main .avatar {
  width: 55px;
  height: 55px;
  top: 75px; }

.channel-card.main h6 {
  margin-top: 30px; }

.channel-card.main p {
  text-align: center;
  font-size: 18px; }

.channel-card:first-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0; }

.channel-card:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0; }

.channel-card:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 9px 30px rgba(67, 44, 109, 0.65);
          box-shadow: 0 9px 30px rgba(67, 44, 109, 0.65); }

.channel-card .overlay {
  text-align: center;
  position: relative; }

.channel-card .bg-img {
  position: absolute;
  background-color: #8699df;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; }

.channel-card .bg-img img {
  width: 100%;
  height: 80px;
  opacity: 0.7; }

.channel-card .avatar {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
  top: 60px;
  border: 1.5px solid #fff; }

.channel-card h6 {
  width: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-bottom: 0;
  text-align: center;
  margin-top: 10px; }

.channel-card small {
  font-size: 14px; }

.channel-card p {
  font-size: 20px;
  width: 100%;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin-bottom: 0px; }

.channel-card .description {
  margin-top: 45px;
  padding: .75rem 1.25rem; }

.streams-list .total {
  text-align: center;
  padding: 8px 15px;
  margin-bottom: 1rem;
  background-color: #8699df;
  color: #fff;
  cursor: default; }

.list-group {
  padding-bottom: 30px; }

.container.channel {
  max-width: 97.5%;
  margin: 0;
  padding-bottom: 30px;
  background-color: #fff; }

#stream {
  max-width: 97%;
  margin: 0 auto; }

#settings-modal .modal-body {
  padding: 0; }

#settings-modal .modal-header.container-block {
  margin: 0; }

#settings-modal .container-block {
  margin: 0px auto 0px auto; }

#settings-modal .dropdown {
  position: absolute;
  right: 50px; }

#settings-modal .btn-more {
  background-color: transparent;
  border: none;
  cursor: pointer !important;
  color: #000000;
  opacity: .5;
  padding-top: 2px; }

#settings-modal .btn-more:hover {
  opacity: 1; }

#settings-modal .dropdown-menu {
  left: -125px !important; }

#settings-modal .card-header {
  background-color: #fff;
  border-bottom: none; }

#settings-modal .btn-link {
  color: #000; }

#settings-modal .btn-link:hover {
  text-decoration: none;
  color: #8699df; }

#settings-modal .btn-link:focus {
  text-decoration: none; }

#settings-modal .card-header:first-child {
  -webkit-border-radius: 0;
          border-radius: 0; }

#settings-modal .modal-header {
  border-bottom: none; }

#settings-modal .modal-content {
  background-color: #fff; }

#settings-modal .card-body h5 {
  text-align: left;
  text-transform: uppercase; }

#settings-modal .card-body p {
  color: #000;
  text-align: left;
  width: 85%;
  margin: 0 auto; }

#settings-modal .card-body {
  padding: 1 1.25rem;
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0 0 20px 0px #8699df;
          box-shadow: inset 0 0 20px 0px #8699df; }

#settings-modal hr {
  margin-left: 30px;
  margin-right: 30px; }

.modal-backdrop {
  z-index: 100;
  display: none; }

.drop-container {
  position: relative;
  z-index: 1000;
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.drop-container.hidden {
  opacity: 0;
  cursor: default; }

.multistream-container {
  display: table;
  width: 100%;
  height: 100vh; }

.drop-container .jumbotron {
  width: 550px;
  height: 350px;
  margin: auto;
  padding: 0;
  -webkit-box-shadow: 0 9px 30px rgba(114, 137, 218, 0.5);
          box-shadow: 0 9px 30px rgba(114, 137, 218, 0.5);
  line-height: 350px;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: #fff;
  color: #8699df; }

.drop-container .jumbotron:hover {
  -webkit-box-shadow: 0 9px 30px rgba(122, 95, 185, 0.7);
          box-shadow: 0 9px 30px rgba(122, 95, 185, 0.7); }

.drop-container .jumbotron #drop-container {
  text-align: center; }

.drop-container .jumbotron #drop-container .drop-icon {
  font-size: 55px; }

.drop-container .jumbotron #drop-container h4 {
  margin-top: -120px; }

.carousel-indicators {
  left: 0;
  right: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0 50px 0 50px; }

.carousel-indicators li {
  width: 150px;
  height: auto;
  background-color: #000000;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-bottom: 2px solid #fff; }

.carousel-indicators li.active {
  border-bottom: 2px solid #8699df;
  opacity: 1; }

.carousel-indicators li:hover {
  opacity: 1; }

.carousel-item .watch-btn {
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 20px;
  color: #ffffff;
  width: 150px;
  height: 50px;
  z-index: 1000;
  padding: 0;
  line-height: 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.carousel-item .watch-btn:hover {
  color: #fff;
  border-color: #8699df;
  color: #8699df; }

.carousel-control-next, .carousel-control-prev {
  width: 10%; }

.carousel-caption {
  bottom: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.carousel-caption p {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px; }

.carousel-caption p span {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px; }

#streams-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  width: 93%;
  z-index: 1001;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#streams-container.hidden {
  opacity: 0;
  z-index: 0; }

.player-container {
  margin: 10px; }

.dropdown-item.log-out {
  cursor: pointer !important;
  color: #cc0000; }

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

.custom-range {
  -webkit-border-radius: 15px;
          border-radius: 15px; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

input:checked + .slider {
  background-color: #8699df; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #8699df;
          box-shadow: 0 0 1px #8699df; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  -webkit-border-radius: 34px;
          border-radius: 34px; }
  .slider.round:before {
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.setting-open-btn {
  color: #333; }

.twitch-btn {
  font-size: 20px; }

#player-size.cinema {
  position: fixed;
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 0;
  left: 0;
  bottom: 0;
  width: 78%;
  height: 100vh;
  z-index: 6000;
  margin: 0; }

#player-container.cinema {
  position: fixed;
  z-index: 6000; }

.container-block.stream-options.cinema {
  position: fixed;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 78%;
  bottom: 0;
  left: 15%;
  z-index: 6000;
  background-color: transparent;
  margin: 0 auto; }

.container-block.stream-options .btn.cinema {
  color: #fff;
  margin: 5px;
  opacity: 0.4; }

#chat-container.cinema {
  position: fixed;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 64%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 6000;
  margin: 0; }

.modal-dialog {
  max-width: 75% !important; }

.tab-content.settings {
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
  max-height: 500px; }

.tab-content.settings > .tab-pane {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0; }

.tab-content.settings > .tab-pane h5 {
  text-transform: uppercase; }

#list-tab {
  background-color: #f3f3f4;
  height: 555px;
  width: 80%;
  position: absolute;
  top: -56px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.65);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.65); }

#list-tab .modal-title {
  padding: 15px 10px;
  text-align: center;
  font-size: 24px; }

#list-tab .list-group-item {
  background-color: transparent;
  color: #72767d;
  border: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#list-tab .list-group-item:hover {
  background-color: #cacace; }

.list-group-item:first-child {
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0; }

#list-tab .list-group-item.active {
  background-color: #8699df;
  color: #fff;
  border-color: transparent; }

.form-group.form-check.settings p {
  width: 100%;
  float: left;
  padding: 5px;
  text-align: left; }

#channel-header {
  position: relative;
  top: -10px; }

.channel-img-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -6px -30px 100px 50px white;
          box-shadow: inset -6px -30px 100px 50px white; }

.clips-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px; }

.clip-preview-icon {
  width: 22px;
  height: 22px; }

.img-preloader {
  width: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative; }

.img-preloader.game {
  height: 266px; }

.img-preloader.others {
  height: 180px; }

.img-preloader .preload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.circleG:first-child {
  margin-left: 0; }

.circleG {
  background-color: white;
  float: left;
  height: 8px;
  margin-left: 8px;
  width: 8px;
  animation-name: bounce_circleG;
  -o-animation-name: bounce_circleG;
  -ms-animation-name: bounce_circleG;
  -webkit-animation-name: bounce_circleG;
  -moz-animation-name: bounce_circleG;
  animation-duration: 2.24s;
  -o-animation-duration: 2.24s;
  -ms-animation-duration: 2.24s;
  -webkit-animation-duration: 2.24s;
  -moz-animation-duration: 2.24s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; }

.circleG_1 {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s; }

.circleG_2 {
  animation-delay: 1.05s;
  -o-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -moz-animation-delay: 1.05s; }

.circleG_3 {
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s; }

@keyframes bounce_circleG {
  0% { }
  50% {
    background-color: black; }
  100% { } }

@-webkit-keyframes bounce_circleG {
  0% { }
  50% {
    background-color: black; }
  100% { } }

.offline-alert {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  cursor: default;
  z-index: 1000000; }

.offline-alert .offline-icon {
  width: 32px;
  height: 32px; }

.card.offline-alert:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-box-shadow: 0px 0px 50px -3px #8699df;
          box-shadow: 0px 0px 50px -3px #8699df; }

.language-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 8px;
  float: right; }

.welcome-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #2C2F33;
  -webkit-background-size: cover;
          background-size: cover;
  overflow: hidden; }

#updating-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2C2F33;
  z-index: 1000000000;
  display: none; }

#download-msg-2 {
  display: none; }

.update-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.spinner-box {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent; }

/* SPINNING CIRCLE */
.circle-border {
  width: 100px;
  height: 100px;
  padding: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #7a5fb9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(33%, rgba(122, 95, 185, 0.1)), to(#8699df));
  background: -webkit-linear-gradient(bottom, rgba(122, 95, 185, 0.1) 33%, #8699df 100%);
  background: -o-linear-gradient(bottom, rgba(122, 95, 185, 0.1) 33%, #8699df 100%);
  background: linear-gradient(0deg, rgba(122, 95, 185, 0.1) 33%, #8699df 100%);
  -webkit-animation: spin .8s linear 0s infinite;
          animation: spin .8s linear 0s infinite; }

.circle-core {
  width: 100%;
  height: 100%;
  background-color: #2C2F33;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@-webkit-keyframes stop-spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes stop-spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.check-update-btn {
  background-color: #8699df;
  color: #fff;
  width: 50%;
  padding: 5px;
  height: 40%; }

.check-update-btn.check-upd-warn {
  background-color: #d39e00;
  border-color: #d39e00;
  color: #fff; }

.check-update-btn.check-upd-danger {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #fff; }

.check-update-btn.check-upd-success {
  background-color: #00b33c;
  border-color: #00b33c;
  color: #fff; }
