@font-face {
  font-family: "Custom";
  src: url("./webfonts/Whitney-Medium.ttf"); }

body {
  overflow-x: hidden;
  background-color: #eeeeee;
  font-family: "Custom"; }

a {
  color: #000; }

a:hover {
  color: #000; }

a:focus {
  color: #000; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background-color: #eeeeee; }

::-webkit-scrollbar-thumb {
  background: #8699df;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none !important; }

input[type="file"] {
  display: none; }

textarea {
  width: 100%;
  background-color: #e6e6e6;
  border: 2px solid #fff;
  color: #8699df;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

select {
  width: 100%;
  background-color: #e6e6e6;
  border: 2px solid #fff;
  color: #8699df;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

input[type] {
  background-color: #e6e6e6;
  border: 2px solid #fff;
  color: #000;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; }

textarea:hover {
  border: 2px solid #ccc; }

textarea:focus {
  background-color: #e6e6e6;
  border: 2px solid #8699df;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000; }

input[type]:hover {
  border: 2px solid #ccc; }

input[type]:focus {
  background-color: #e6e6e6;
  border: 2px solid #8699df;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000; }

.swal2-popup .swal2-styled:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }
