@font-face {
  font-family: "Custom";
  src: url("./webfonts/Whitney-Medium.ttf"); }

@font-face {
  font-family: "Custom Light";
  src: url("./webfonts/Whitney-Light.ttf"); }

@media (min-width: 576px) {
  .side-menu {
    width: 50px; }
  #player-container {
    width: 98%; }
  #chat-container {
    width: 100%;
    height: 589px; }
  .container-block.channel-top-header .btns-group .btns-container {
    display: none; }
  .container-block.channel-top-header .btns-group .load-btn-group {
    border: none;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer; }
  .card-columns {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    padding: 50px; } }

@media (min-width: 1000px) {
  .container-fluid {
    left: 130px; }
  .container {
    width: 80%;
    padding: 0;
    margin: 50px auto; }
  .side-menu {
    width: 180px;
    left: 70px; }
  .setting-open-btn {
    text-align: left;
    padding: 5px 28px; }
  .setting-open-btn span {
    position: relative;
    top: -6px;
    left: 10px;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase; }
  .menu ul li a {
    text-align: left;
    padding: 5px 28px;
    text-transform: uppercase; }
  .menu ul li a.active {
    padding: 5px 25px; }
  .menu ul li a span {
    position: relative;
    top: 6px;
    left: 10px;
    vertical-align: middle;
    font-size: 12px;
    font-family: "Custom Light"; }
  .menu ul li a:hover {
    background-color: #5f636d; }
  .container-block.channel-top-header.fixed {
    width: 88%;
    left: 12%; }
  .container.games-list {
    max-width: 85%; }
  .container.streams-live {
    max-width: 70%; }
  .container.channel {
    max-width: 97.5%;
    margin-left: 0;
    margin-right: 0; }
  #stream {
    max-width: 97%;
    margin: 0 auto;
    padding-left: 1.5%; }
  .container.channels-preview {
    max-width: 90%; }
  #player-container {
    width: 66.5%; }
  #chat-container {
    position: absolute;
    top: 0;
    right: 1.5%;
    width: 90%;
    height: 96.5%;
    margin: 0;
    margin-top: 10px; }
  #chat-container .chat-css {
    height: 100.5%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0; }
  .container-block.channel-top-header .btns-group .btns-container {
    display: block; }
  .container-block.channel-top-header .btns-group .load-btn-group {
    display: none; }
  .tab-content.settings > .tab-pane {
    width: 75%; }
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    padding: 0; } }

@media (min-width: 1600px) {
  .card-columns {
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4; }
  .jumbotron.msg {
    width: 50%;
    margin: 0 auto; }
  .jumbotron.msg.text-center {
    width: 100%; }
  #stream {
    width: 90%;
    margin: 0 auto; }
  .modal.show .modal-dialog {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .modal-content {
    width: 70%; } }
